@import '../../style/color.scss';

.main-nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 450px;

    font-size: 14px;
    line-height: 17px;
    color: $dark-shade-50;
  }

  &__item {
    margin-left: 25px;
  }

  &__account {
    display: flex;
    justify-content: space-between;

    width: 305px;

    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
  }

  &__enter {
    width: 87px;
    height: 34px;
  }

  &__registration {
    width: 196px;
    height: 34px;
  }
}