@import '../../style/color.scss';

.room-detail {
  width: 100%;
}

.room-detail__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1160px;
  margin: 70px auto 0 auto;
}

.room-detail__images {
  display: flex;
  width: 100%;
}

.room-detail__image {
  width: 100%;
  height: 242px;

  &--large {
    width: 60%;
    height: 484px;
  }
}

.room-detail__images-right {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.room-detail__detail {
  display: flex;
  flex-wrap: wrap;
  max-width: 711px;
}

.room-detail__info-block {
  width: 50%;
}

.room-detail__information {
  margin-top: 3px;
}

.room-detail__impression {
  width: 50%;
}

.room-detail__rev-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0 16px 0;
}

.room-detail__reviews {
  padding: 18px 0;
}

.room-detail__bullet-block {
  width: 45%;
  margin-left: 20px;
}

.room-detail__bullet {
  margin-top: 16px;
}

.room-detail__decline {
  width: 49%;
  margin-left: 20px;
}

.room-detail__text {
  width: 90%;
  padding: 18px 0;
}

.room-detail--light-text {
  padding-top: 5px;
  color: $dark-shade-50;
}
