.room-detail__detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1170px;

  margin: 14px auto;
}

.room-detail__about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 65%;
}

.room-detail__information {
  width: 50%;
}

.room-detail__impression {
  width: 50%;
}

.room-detail__reviews {
  width: 100%;
}

.room-detail__bullet {
  width: 45%;

  margin-left: 20px;
}

.room-detail__decline {
  width: 50%;
}

.room-detail__text {
  width: 90%;
}