nav.main-nav
  .main-nav__list
    a.main-nav__item(href="#") О нас
    a.main-nav__item Услуги
    a.main-nav__item Вакансии
    a.main-nav__item Новости
    a.main-nav__item Соглашения
  .main-nav__account
    a.main-nav__enter.main-nav__item Войти
    a.main-nav__registration.main-nav__item  Зарегистрироваться