nav.main-nav
  .main-nav__list
    a.main-nav__item(href="#") Вход
    a.main-nav__item 2
    a.main-nav__item 3
    a.main-nav__item 4
  .main-nav__account
    a.main-nav__enter enter
    a.main-nav__register registration