include ../short-button/short-button
include ../long-button/long-button

mixin main-nav(nav)
  .main-nav__list
    each item in nav
      a.main-nav__item(href=item.link)= item.name
  .main-nav__account
    .main-nav__enter
      +short-button('Войти', 'common')
    .main-nav__registration
      +short-button('Зарегистрироваться', 'gradient')