@import '../../style/color';

.type__tag {
  width: 40px;

  margin-right: 30px;

  font-family: Montserrat;
  color: $dark-shade-25;

  text-align: right;
  text-transform: uppercase;
}

.type {
  &__h1 {
    font-size: 24px;
    line-height: 29px;
  }

  &__h2 {
    font-size: 19px;
    line-height: 24px;
  }

  &__h3 {
    font-size: 12px;
    line-height: 15px;
  }

  &__body {
    font-size: 14px;
    line-height: 24px;

    text-transform: none;
  }
}

.type__list {
  width: 470px;
}

.type__item {
  display: flex;
  align-items: baseline;

  width: 477px;

  margin-bottom: 51px;
}