@import '../../style/color.scss';

.text-field {
  position: relative;
}

.text-field__input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 15px 13px 15px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;

  &::placeholder {
    color: $dark-shade-25;
    font-size: 14px;
    font-family: Montserrat, Arial, sans-serif;
  }

  &:focus,
  &:hover {
    border: 1px solid $dark-shade-75;

    &::placeholder {
      color: $dark-shade-75;
    }
  }
}

.text-field__arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-family: "Material Icons";
  background: $gradient;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
