mixin text-field(type, placeholder, isSubscription)
    .text-field
        input(type=type placeholder=placeholder).text-field__input
        if isSubscription
            button.text-field__arrow arrow_forward
