@import "../../style/color.scss";

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 240px;
  color: $dark-shade-50;
  font-size: 12px;
  line-height: 15px;
}

.pagination__items {
  display: flex;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 22px;

  &--active {
    color: white;
    background: $gradient;
  }
}

.pagination__total {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  cursor: pointer;
}

.pagination__next-page {
  color: white;
  font-size: 24px;
  font-family: 'Material Icons', sans-serif;
  line-height: 20px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  cursor: pointer;
}

.pagination__text {
  margin-top: 12px;
  font-size: 14px;
  line-height: 14px;
}
