.sign-in {
  background-image: url('../pages/sign-in/images/registration-img.png');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-in__container {
  display: flex;
  justify-content: center;

  max-width: 1170px;

  margin: 0 auto;
}