extends ../layout

include ../../blocks/dropdown/dropdown
include ../../blocks/checkbox/checkbox
include ../../blocks/room-card/room-card
include ../../blocks/pagination/pagination
include ../../blocks/rich-checkbox/rich-checkbox
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../blocks/range-slider/range-slider
include ../../blocks/datepicker/datepicker

block content
  .search-page
    sidebar.search-page__sidebar
      form.search-page__filter
        .search-page__datepicker
          +datepicker('Даты пребывания в отеле')
        .search-page__dropdown
          +dropdown(
              'Гости',
              'Сколько гостей',
              'гость,гостя,гостей;младенец,младенца,младенцев',
              [
                {
                  parameterName: 'Взрослые',
                  initCount: 3,
                },
                {
                  parameterName: 'Дети',
                  initCount: 0,
                },
                {
                  parameterName: 'Младенцы',
                  initCount: 1,
                }
              ],
              true,
              true
          )
        .search-page__range-slider
          +range-slider(
            'Диапазон цены',
            {
              min: 0,
              max: 15000,
              from: 5000,
              to: 10000,
            },
            'Стоимость за сутки пребывания в номере'
          )
        .search-page__checkbox
          h3.search-page__title Правила дома
          +checkbox(
            [
              {
                text: "Можно курить",
                checked: true
              },
              {
                text: "Можно с питомцами"
              },
              {
                text: "Можно пригласить гостей (до 10 человек)"
              }
            ]
          )
        .search-page__rich-checkbox
          +rich-checkbox(
            'Доступность',
            [
              {
                text: "Широкий коридор",
                subtext: "Ширина коридоров в номере не менее 91 см."
              },
              {
                text: "Помощник для инвалидов",
                subtext: "На 1 этаже вас встретит специалист и проводит до номера."
              }
            ]
          )
        .search-page__dropdown
          +dropdown(
            'Удобства номера',
            'Сколько комнат',
            'спальня,спальни,спален;кровать,кровати,кроватей;ванная комната,ванные комнаты,ванных комнат',
            [
              {
                parameterName: 'Спальни',
                initCount: 2,
              },
              {
                parameterName: 'Кровати',
                initCount: 2,
              },
              {
                parameterName: 'Ванные комнаты',
                initCount: 0,
              }
            ],
            false,
            true
          )
        .search-page__expandable-checkbox-list
          +expandable-checkbox-list(
            'Дополнительные удобства',
            [
                {
                  text: "Завтрак"
                },
                {
                  text: "Письменный стол",
                  checked: true
                },
                {
                  text: "Стул для кормления",
                  checked: true
                },
                {
                  text: "Кроватка"
                },
                {
                  text: "Телевизор"
                },
                {
                  text: "Шампунь"
                }
            ],
            'keyboard_arrow_down'
          )
    section.search-page__main
      h1.search-page__main-title Номера, которые мы для вас подобрали
      .search-page__list
        +room-card([
            {
              link: "room-1.png",
              number: 888,
              isLuxury: true,
              price: '9 990₽',
              rating: 3,
              comments: 145,
              switchable: true
            },
            {
              link: "room-2.png",
              number: 840,
              isLuxury: false,
              price: '9 900₽',
              rating: 5,
              comments: 65,
            },
            {
              link: "room-3.png",
              number: 980,
              isLuxury: true,
              price: '8 500₽',
              rating: 5,
              comments: 35,
            },
            {
              link: "room-4.png",
              number: 856,
              isLuxury: false,
              price: '7 300₽',
              rating: 2,
              comments: 19,
            },
            {
              link: "room-5.png",
              number: 740,
              isLuxury: true,
              price: '6 000₽',
              rating: 5,
              comments: 44,
            },
            {
              link: "room-6.png",
              number: 982,
              isLuxury: false,
              price: '5 800₽',
              rating: 1,
              comments: 56,
            },
            {
              link: "room-7.png",
              number: 678,
              isLuxury: false,
              price: '5 500₽',
              rating: 5,
              comments: 45,
            },
            {
              link: "room-8.png",
              number: 450,
              isLuxury: false,
              price: '5 300₽',
              rating: 5,
              comments: 39,
            },
            {
              link: "room-9.png",
              number: 350,
              isLuxury: false,
              price: '5 000₽',
              rating: 5,
              comments: 77,
            },
            {
              link: "room-10.png",
              number: 666,
              isLuxury: true,
              price: '5 000₽',
              rating: 5,
              comments: 25,
            },
            {
              link: "room-11.png",
              number: 444,
              isLuxury: false,
              price: '5 000₽',
              rating: 4,
              comments: 15,
            },
            {
              link: "room-12.png",
              number: 352,
              isLuxury: false,
              price:  '5 000₽',
              rating: 3,
              comments: 55,
            },
          ])
      .search-page__pagination
        +pagination({
          pages: [
            {
              link: '#',
              number: 1,
              isActive: true
            },
            {
              link: '#',
              number: 2,
            },
            {
              link: '#',
              number: 3,
            },
          ],
          total: 15,
          text: '1 – 12 из 100+ вариантов аренды'
        })