@import '../../style/color.scss';

.reviews {
  width: 100%;
}

.reviews__item {
  display: flex;

  width: 94%;

  padding-bottom: 20px;
}

.reviews__icons {
  width: 9%;
}

.reviews__image {
  width: 48px;
  height: 48px;

  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1)
}

.reviews__like {
  margin: 5px 0 0 5px;
}

.reviews__texts {
  width: 91%;
}

.reviews__text {
  margin-top: 10px;
}

.reviews__title {
  font-weight: bold;
}