@import '../../style/color.scss';

.short-button {
  width: 100%;
  height: 100%;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: $purple;

  text-transform: uppercase;
  text-align: center;

  border-radius: 22px;

  &:hover {
    color: $dark-shade-50;
  }

  &--common,
  &--gradient {
    padding: 0 15px;
  }

  &--common {
    border: 2px solid $purple;

    &:hover {
      color: $purple;

      border: 2px solid $dark-shade-25;
    }
  }

  &--gradient {
    color: white;

    border: none;
    background-image: $gradient;
  }
}