extends ../layout

include ../../blocks/colors/colors
include ../../blocks/type/type

block header

block content
  .colors-and-type
    .colors-and-type__wrapper
      .colors-and-type__colors
        +colors({
          list: [
            {
              shade: 'dark-shade--100',
              title: 'Dark Shade 100%',
              hex: '#1F2041'
            },
            {
              shade: 'dark-shade--75',
              title: 'Dark Shade 75%',
              hex: '#1F2041'
            },
            {
              shade: 'dark-shade--50',
              title: 'Dark Shade 50%',
              hex: '#1F2041'
            },
            {
              shade: 'dark-shade--25',
              title: 'Dark Shade 25%',
              hex: '#1F2041'
            },
            {
              shade: 'dark-shade--5',
              title: 'Dark Shade 5%',
              hex: '#1F2041'
            },
            {
              shade: 'shade--purple',
              title: 'Purple',
              hex: '#BC9CFF'
            },
            {
              shade: 'shade--green',
              title: 'Green',
              hex: '#6FCF97'
            },
          ]
        })
      .color-and-type__type
        +type

block footer