mixin checkbox( items )
  .checkbox
    each item in items
      .checkbox
        label.checkbox__label= item.text
          if (item.checked)
            input( type='checkbox' checked)
          else
            input( type='checkbox' )
          span.checkbox__checkmark