@import '../../style/color.scss';

.long-button {
  position: relative;

  width: 100%;
  height: 100%;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: white;

  text-transform: uppercase;
  text-align: center;

  border: none;
  border-radius: 22px;

  background-image: $gradient;

  cursor: pointer;
}

.long-button__arrow {
  position: absolute;

  right: 10px;
  top: 10px;

  font-size: 24px;
  font-weight: normal;
  line-height: 24px;

  font-family: 'Material Icons';

  text-transform: none;
}