.footer-nav {
  display: flex;
  justify-content: space-between;

  width: 48%;

  &__list {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    width: 29%;
  }

  &__item {
    margin-top: 14px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
  }
}