.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-top: 13px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
  }
}
