@import '../../style/color.scss';

.book-card {
  display: flex;
  justify-content: center;
  width: 378px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.book-card__container {
  width: 320px;
  margin: 40px 0 30px 0;
}

.book-card__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2px;
}

.book-card__datepicker {
  margin-top: 20px;
}

.book-card__dropdown {
  margin-top: 17.5px;
}

.book-card__bill {
  margin-top: 8px;
}

.book-card__wrapper {
  display: flex;
  flex-direction: column;
  height: 105px;
}

.book-card__row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 99.5%;
  margin-top: 10px;
}

.book-card__last-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 42px;
}

.book-card__more-details {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: -11px;
    width: 19px;
    height: 19px;
    color: $dark-shade-25;
    font-weight: bold;
    font-size: 12px;
    font-family: Montserrat, OpenSans, sans-serif;
    line-height: 20px;
    text-align: center;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    cursor: pointer;
    content: 'i';
  }
}

.book-card__cell {
  width: 72%;

  &--last {
    line-height: 18px;
  }
}

.book-card__line {
  box-sizing: border-box;
  width: 56%;
  height: 1px;
  border-top: 1px dashed rgba(31, 32, 65, 0.25);
}

.book-card__button {
  height: 44px;
  margin-top: 21px;
}
