include ../room-number/room-number

mixin book-card(number, price)
  .book-card
    .book-card__container
      .book-card__info
        +room-number(number, true, price)
      .book-card__calender
      .book-card__guests
      .book-card__bill
        .book-card__row
          p.book-card__cell 9 990₽ х 4 суток
          p.book-card__cell 39 960₽
        .book-card__row
          p.book-card__cell Сбор за услуги: скидка 2 179₽
          p.book-card__cell 0₽
        .book-card__row
          p.book-card__cell Сбор за дополнительные услуги
          p.book-card__cell 300₽
        .book-card__row
          p.book-card__cell Итого
          p.book-card__cell 38 081₽