.search-page {
  display: flex;
  justify-content: space-between;

  max-width: 1170px;

  margin: 30px auto;
}

.search-page__main {
  width: 72%;

  margin-top: 12px;
}

.search-page__panel {
  width: 28%;
}

.search-page__card-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;

  width: 100%;
}

.search-page__pagination {
  display: flex;

  max-width: 230px;

  margin: 0 auto;
}