@import '../../style/color.scss';

.room-number {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.room-number__number {
  margin: 0;
  padding-left: 4px;
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 19px;
  font-family: Montserrat, sans-serif;
}

.room-number__text {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.room-number__luxury {
  margin: 0;
  padding: 2px 0 0 8px;
  color: $purple;
  font-weight: bold;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.room-number__cell {
  display: flex;
  align-items: baseline;
}

.room-number__price {
  align-self: flex-end;
  margin-right: 3px;
  color: $dark-shade-50;
  font-weight: bold;
  font-size: 14px;

  &-text {
    color: $dark-shade-50;
    font-weight: normal;
    font-size: 12px;
  }
}
