@import '../../style/color.scss';

.room-number {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.room-number__number {
  margin: 0;
  padding-left: 4px;
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 18px;
  font-family: Quicksand, sans-serif;

  &--large {
    font-size: 20px;
  }
}

.room-number__text {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 14px;
  font-family: Quicksand, sans-serif;
}

.room-number__luxury {
  margin: 0;
  padding-left: 5px;
  color: $purple;
  font-weight: bold;
  font-size: 12px;
  font-family: Montserrat, 'sans-serif';
  text-transform: uppercase;
}

.room-number__cell {
  display: flex;
  align-items: baseline;
}

.room-number__price {
  align-self: flex-end;
  padding-right: 4px;
  color: $dark-shade-50;
  font-weight: bold;
  font-size: 14px;

  &--text {
    padding-right: 0;
    color: $dark-shade-50;
    font-weight: normal;
    font-size: 12px;
  }
}
