mixin room-number(number, numberLarge , isLuxury, price)
  .room-number
    .room-number__cell
      span.room-number__text №
      span.room-number__number= number
      if (isLuxury)
        span.room-number__luxury люкс
    .room-number__cell.room-number__cell--last
      span.room-number__price= price
      span.room-number__price.room-number__price-text в сутки