mixin room-number(number, isLuxury, price, isLarge)
  - let numberClass = ['room-number__number'];
  if isLarge
    - numberClass.push('room-number__number--large');
  .room-number
    .room-number__cell
      span.room-number__text №
      span(class=numberClass)= number
      if (isLuxury)
        span.room-number__luxury люкс
    .room-number__cell.room-number__cell--last
      span.room-number__price= price
      span.room-number__price.room-number__price-text в сутки