.search-card
    h1.search-card__title Найдем номер под ваши пожелания
    form.search-card__form
        label.search-card__label Прибытие
          input.searc-card__input(type="text" placeholder="ДД.ММ.ГГ")
        label.search-card__label Выезд
          input.searc-card__input(type="text" placeholder="ДД.ММ.ГГ")
