footer.main-footer
  .main-footer__wrapper
      .main-footer__best
          img.logo
          p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .main-footer__nav
          ul.main-footer__list
              li.main-footer__item
                h3.main-footer__title Навигация
              li.main-footer__item
                a.main-footer__link О нас
              li.main-footer__item
                a.main-footer__link Новости
              li.main-footer__item
                a.main-footer__link Служба поддержки
              li.main-footer__item
                a.main-footer__link Услуги
          ul.main-footer__list
              li.main-footer__item
                  h3.main-footer__title О нас
              li.main-footer__item
                  a.main-footer__link О сервисе
              li.main-footer__item
                  a.main-footer__link Наша команда
              li.main-footer__item
                  a.main-footer__link Вакансии
              li.main-footer__item
                  a.main-footer__link Инвесторы
          ul.main-footer__list
              li.main-footer__item
                  h3.main-footer__title Служба поддержки
              li.main-footer__item
                  a.main-footer__link Соглашения
              li.main-footer__item
                  a.main-footer__link Сообщества
              li.main-footer__item
                  a.main-footer__link Связь с нами
      .main-footer__subscribe
          h3.main-footer__title Подписка
          p.main-footer__item Получайте специальные предложения и новости сервиса
  .main-footer__bottom