include ../footer-nav/footer-nav
include ../text-field/text-field

mixin footer({nav})
  footer.footer
    .footer__wrapper
      .footer__best
        img.footer__img(src=require("../../images/Logo.png") width="106" height="40")
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__nav
        +footer-nav(nav)
      .footer__subscription
        h3.footer__title Подписка
        p.footer__subscr-text Получайте специальные предложения и новости сервиса
        +text-field('email', 'Email', true)
    .footer-bottom
      .footer-bottom__copyright
        p Copyright © 2018 Toxin отель. Все права защищены
      .footer-bottom__social
        img(src=require('../../images/twitter.png') width='24' height='24').footer-bottom__icon
        img(src=require('../../images/facebook.png') width='24' height='24').footer-bottom__icon
        img(src=require('../../images/instagram.png') width='24' height='24').footer-bottom__icon
