footer.main-footer
  .main-footer__wrapper
      .main-footer__best
          img.main-footer__img(src=require("../images/Logo.png") width="106" height="40")
          p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      block footer-nav
          include ../footer-nav/footer-nav.pug
      .main-footer__subscribe
          h3.main-footer__title Подписка
          p.main-footer__item Получайте специальные предложения и новости сервиса
          form.main-footer__form
              input(type="email" name="email" placeholder="Email")
  .main-footer__bottom
      p.main-footer__copyright
        Copyright © 2018 Toxin отель. Все права зачищены.
      .main-footer__social
