extends ../layout

include ../../blocks/dropdown/dropdown
include ../../blocks/checkbox/checkbox
include ../../blocks/room-card/room-card
include ../../blocks/pagination/pagination
include ../../blocks/rich-checkbox/rich-checkbox

block content
  .search-page
    .search-page__panel
      form.search-page__filter
        .search-page__dropdown
          +dropdown(
              'Даты пребывания в отеле',
              'Сколько комнат?',
              'спальни,спален,спальня;кровати,кроватей,кровать;ванных комнат, ванные комнаты, ванная комната',
              [
                {
                  parameterName: 'Спальни',
                  initCount: '0',
                },
                {
                  parameterName: 'Кровати',
                  initCount: '0',
                },
                {
                  parameterName: 'Ванные комнаты',
                  initCount: '0',
                }
              ],
              true,
              true,
              true
          )
        .search-page__dropdown
        .search-page__slider
          h3.search-page__title Диапазон цены
          input.slider
          p.slider__info
        .search-page__checkbox
          h3.search-page__title Checkbox buttons
          +checkbox({
            items: [
              {
                text: "Можно курить"
              },
              {
                text: "Можно с питомцами"
              },
              {
                text: "Можно пригласить гостей (до 10 человек)"
              }
            ]
          })
        .search-page__availability
          h3.search-page__title Доступность
          +rich-checkbox({
            items: [
              {
                text: "Широкий коридор",
                subtext: "Ширина коридоров в номере не менее 91 см."
              },
              {
                text: "Помощник для инвалидов",
                subtext: "На 1 этаже вас встретит специалист и проводит до номера."
              },
            ]
          })
        .search-page__dropdown
        .search-page__checkbox
          h3.search-page__title Дополнительные удобства
    section.search-page__main
      h1.search-page__main-title Номера, которые мы для вас подобрали
      .search-page__list
        +room-card({
          list: [
            {
              link: "room-1.png",
              number: 888,
              numberLarge: false,
              isLuxury: true,
              price: '9 990₽',
              rating: 5,
              comments: 145,
            },
            {
              link: "room-2.png",
              number: 840,
              numberLarge: true,
              isLuxury: false,
              price: '9 999₽',
              rating: 5,
              comments: 65,
            },
            {
              link: "room-3.png",
              number: 980,
              numberLarge: true,
              isLuxury: true,
              price: '8 500₽',
              rating: 5,
              comments: 35,
            },
            {
              link: "room-4.png",
              number: 856,
              numberLarge: true,
              isLuxury: true,
              price: '7 300₽',
              rating: 5,
              comments: 19,
            },
            {
              link: "room-5.png",
              number: 740,
              numberLarge: true,
              isLuxury: true,
              price: '6 00₽',
              rating: 5,
              comments: 44,
            },
            {
              link: "room-6.png",
              number: 982,
              numberLarge: true,
              isLuxury: true,
              price: '5 800₽',
              rating: 5,
              comments: 56,
            },
            {
              link: "room-7.png",
              number: 678,
              numberLarge: true,
              isLuxury: true,
              price: '5 500₽',
              rating: 5,
              comments: 45,
            },
            {
              link: "room-8.png",
              number: 450,
              numberLarge: true,
              isLuxury: true,
              price: '5 300₽',
              rating: 5,
              comments: 39,
            },
            {
              link: "room-9.png",
              number: 350,
              numberLarge: true,
              isLuxury: true,
              price: '5 000₽',
              rating: 5,
              comments: 77,
            },
            {
              link: "room-10.png",
              number: 666,
              numberLarge: true,
              isLuxury: true,
              price: '5 000₽',
              rating: 5,
              comments: 25,
            },
            {
              link: "room-11.png",
              number: 444,
              numberLarge: true,
              isLuxury: true,
              price: '5 000₽',
              rating: 5,
              comments: 15,
            },
            {
              link: "room-12.png",
              number: 352,
              numberLarge: true,
              isLuxury: true,
              price:  '5 000₽',
              rating: 5,
              comments: 55,
            },
          ]
        })
      .search-page__pagination
        +pagination({
          pages: [
            {
              link: '#',
              number: 1,
              isActive: true
            },
            {
              link: '#',
              number: 2,
            },
            {
              link: '#',
              number: 3,
            },
          ],
          total: 15,
          text: '1 – 12 из 100+ вариантов аренды'
        })