.search-page {
  display: flex;
  justify-content: space-between;
  max-width: 1161px;
  margin: 14px auto;
  padding-bottom: 70px;
}

.search-page__main {
  width: 72%;
  margin-top: 17px;
}

.search-page__title {
  margin-bottom: 13px;
}

.search-page__dropdown {
  width: 266px;
}

.search-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 22px;
}

.search-page__pagination {
  display: flex;
  max-width: 255px;
  margin: 20px auto 0;
}
