@import '../../style/color.scss';

.button-with-arrow {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  background-image: $gradient;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.button-with-arrow__arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  line-height: 24px;
  text-transform: none;
}
