include ../blocks/header/header.pug
include ../blocks/footer/footer.pug

doctype html
html
  head
    title Title
    meta(name="viewport" content="width=device-width")
  body
    block header
      +header({
        nav: [
          {
            name: "О наc",
            link: "index.pug",
          },
          {
            name: "Услуги",
            link: "search-page.html",
          },
          {
            name: "Вакансии",
            link: "#",
          },
          {
            name: "Новости",
            link: "#",
          },
          {
            name: "Соглашения",
            link: "#",
          },
        ],
        isAuth: false
      })

    block content

    block footer
      +footer({
        nav: [
          {
            title: "Навигация",
            links: [
              {name: "О нас", link: "#"},
              {name: "Новости", link: "#"},
              {name: "Служба поддержки", link: "#"},
              {name: "Услуги", link: "#"},
            ],
          },
          {
            title: "О нас",
            links: [
              {name: "О сервисе", link: "#"},
              {name: "Наша команда", link: "#"},
              {name: "Вакансии", link: "#"},
              {name: "Инвесторы", link: "#"},
            ],
          },
          {
            title: "Служба поддержки",
            links: [
              {name: "Соглашения", link: "#"},
              {name: "Сообщества", link: "#"},
              {name: "Связь с нами", link: "#"},
            ],
          }, ]
      })
