@import '../../style/color.scss';

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown__input-field {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 18px 10px 14px;
  color: $dark-shade-75;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  line-height: 23px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  cursor: pointer;

  &--active {
    border: 1px solid $dark-shade-50;
  }
}

.dropdown__menu {
  position: absolute;
  top: 66px;
  left: 0;
  z-index: 100;
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border: 1px solid $dark-shade-50;
}

.dropdown__parameters {
  width: 100%;
  padding-bottom: 8px;
}

.dropdown__parameter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin: 22px 0 0 15px;
}

.dropdown__counter-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95px;
}

.dropdown__small-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: $dark-shade-50;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  line-height: 22px;
  text-align: center;
  vertical-align: center;
  border: 1px solid $dark-shade-25;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.dropdown__buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 21px 0 13px 12px;
}

.dropdown__button {
  color: $purple;
  font-weight: bold;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.dropdown__button-apply {
  margin-left: 90px;
}

.dropdown__button-apply,
.dropdown__button-clr {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $dark-shade-50;
  }
}

.dropdown__small-btn--disabled {
  cursor: auto;
  opacity: 0.2;
}

.dropdown__menu--hidden {
  display: none;
}

.dropdown__button-clr--hidden {
  visibility: hidden;
}
