.registration-card {
  display: flex;
  justify-content: center;

  width: 380px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.registration-card__container {
  width: 320px;

  padding: 40px 0 30px;
}

.registration-card__title {
  margin-bottom: 20px;
}

.registration-card__block {
  margin-bottom: 16px;
}

.registration-card__item {
  margin-bottom: 10px;
}

.registration-card__button {
  padding: 5px 0 28px;
}

.registration-card__text {
  color: black;
}

.registration-card__enter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}