.registration-card {
  display: flex;
  justify-content: center;
  width: 380px;
  margin: 28px 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.registration-card__container {
  width: 320px;
  padding: 40px 0 30px;
}

.registration-card__title {
  margin-bottom: 20px;
}

.registration-card__block {
  margin-bottom: 16px;
}

.registration-card__item {
  margin-bottom: 10px;
}

.registration-card__button {
  height: 44px;
  padding: 7px 0 28px;
}

.registration-card__text {
  color: black;
}

.registration-card__enter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &-button {
    width: 99px;
    height: 44px;
  }
}
