@import 'color.scss';
@import '../blocks/search-page/checkbox/checkbox.scss';
@import '../blocks/search-page/search-page.scss';

body {
  width: 1440px;
  margin: 0 auto;

  font-family: 'Montserrat' , sans-serif;
  font-size: 14px;
  color: $dark-shade-75;
  line-height: 24px;

}

a {
  text-decoration: none;
  color: $dark-shade-50;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

h2 {
  font-size: 19px;
  font-weight: bold;
  line-height: 22px;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}