@import 'color.scss';

body {
  margin: 0;
  color: $dark-shade-75;
  font-size: 14px;
  font-family: Montserrat, OpenSans, sans-serif;
  line-height: 24px;
}

a {
  color: $dark-shade-50;
  text-decoration: none;
}

h1 {
  margin: 0;
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 24px;
  font-family: Quicksand, OpenSans, sans-serif;
  line-height: 28px;
}

h2 {
  margin: 0;
  color: $dark-shade-100;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
}

h3 {
  margin: 0;
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 12px;
  font-family: Montserrat, OpenSans, sans-serif;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

input {
  outline: none;
}

button {
  background-color: white;
  border: none;
  outline: none;
}
