@import "../../style/color.scss";

.room-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 270px;

  margin-bottom: 20px;

  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.room-card__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
}

.room-card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 97%;

  padding: 7px 0 20px 0;
}

.room-card__line {
  border-bottom: 1px solid rgba(31,32,65,0.1);

  padding: 20px 0 9px 0;
}

.room-card__cell {
  display: flex;

  align-items: baseline;
}

.room-card__number {
  margin: 0;
  padding-left: 4px;

  font-family: 'Quicksand', 'Quicksand Bold', sans-serif;
  font-weight: bold;
  font-size: 18.7px;
  color: $dark-shade-100;

  &--text {
    padding-left: 0;

    font-size: 14px;
  }
}

.room-card__luxury {
  margin: 0;
  padding-left: 4px;

  font-family: 'Montserrat','Montserrat Bold', 'sans-serif';
  font-size: 12px;
  font-weight: bold;
  color: $purple;
  text-transform: uppercase;
}

.room-card__price {
  font-weight: bold;
  font-size: 14px;
  color: $dark-shade-50;

  &--text {
    font-size: 12px;
    color: $dark-shade-50;
  }
}

.room-card__rating {
  margin: 0;
}

.room-card__comments {
  margin: 0;

  font-weight: bold;
  font-size: 14px;
  color: $dark-shade-50;

  &--text {
    margin: 0;

    font-size: 14px;
    color: $dark-shade-50;
  }
}