include ../room-number/room-number

mixin room-card({list})
  each item in list
    .room-card
      img.room-card__img(src=require(`../../images/${item.link}`))
      .room-card__info
        .room-card__row.room-card__line
          +room-number(item.number, item.isLuxury, item.price)
        .room-card__row
          .room-card__cell
            p.room-card__rating= item.rating
          .room-card__cell
            p.room-card__comments= item.comments
            p.room-card__comments--text &nbsp; Отзывов