@import '../../style/color.scss';

.room-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 270px;

  margin-bottom: 19px;

  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  overflow: hidden;
}

.room-card__img {
  width: 100%;
}

.room-card__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
}

.room-card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 95%;

  padding: 7px 0 20px 0;
}

.room-card__line {
  border-bottom: 1px solid rgba(31,32,65,0.1);

  padding: 20px 0 9px 0;
}

.room-card__cell {
  display: flex;

  align-items: baseline;
}

.room-card__rating {
  margin: 0;
}

.room-card__comments {
  margin: 0;

  font-weight: bold;
  font-size: 14px;
  color: $dark-shade-50;

  &--text {
    margin: 0;

    font-size: 14px;
    color: $dark-shade-50;
  }
}