@import '../../style/color.scss';

.toggle {
  position: relative;
  width: 100%;
  padding: 0 50px;
}

.toggle__input {
  width: 0;
  height: 0;
  opacity: 0;

  &:checked + .toggle__slider {
    border: 1px solid $purple;

    &::before {
      background-image: $gradient;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }

  &:focus + .toggle__slider {
    box-shadow: 0 0 1px #2196f3;
  }
}

.toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 18px;
  background-color: white;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &::before {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: $dark-shade-25;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    content: '';
  }
}
