@import '../../style/color.scss';

.bullet__list {
  padding: 3px 0;
}

.bullet__item {
  position: relative;
  width: 71%;
  padding-bottom: 10px;

  &::before {
    position: absolute;
    top: 7px;
    left: -20px;
    width: 10px;
    height: 10px;
    background-color: $dark-shade-25;
    border-radius: 50%;
    content: '';
  }
}
