@import "../../style/color.scss";

.main-header {
  width: 100%;

  box-shadow: 0px 10px 20px $dark-shade-5;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    max-width: 1170px;

    margin: 0 auto;
    padding: 15px 0;
  }
  
  &__logo {
    display: flex;
    flex-grow: 0.5;
    align-items: center;

    margin-left: auto;
  }
}