include ../main-nav/main-nav.pug

mixin header({nav})
  header.header
    .header__wrapper
      a.header__logo
        img.header__img(src=require("../../images/Logo.png") width="106" height="40")
      .header__nav
        +main-nav(nav)