@import '../../style/color.scss';

.header-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 446px;
    color: $dark-shade-50;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__account {
    display: flex;
    justify-content: space-between;
    width: 305px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__enter {
    width: 87px;
    height: 34px;
  }

  &__registration {
    width: 196px;
    height: 34px;
  }

  &__arrow {
    width: 26px;
    height: 16px;
    font-size: 25px;
    font-family: 'Material Icons';
    line-height: 20px;
  }
}
