include ../button/button
include ../button-with-arrow/button-width-arrow

mixin header-nav(nav, isAuth, name)
  .header-nav
    .header-nav__list
      each item in nav
        if (item.icon)
          .header-nav__item
            a.header-nav__item(href=item.link)= item.name
            .header-nav__arrow= item.icon
        else
          a.header-nav__item(href=item.link)= item.name
    .header-nav__account
      if (isAuth)
        p.header__acc-name= name
      else
        .header-nav__enter
          +button('Войти', 'common')
        .header-nav__registration
          +button('Зарегистрироваться', 'gradient')