@import '../../style/color.scss';

.room-information__title {
  margin: 0;
  font-weight: bold;
}

.room-information__icon {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  font-size: 48px;
  font-family: 'Material Icons', Arial, sans-serif;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.room-information__item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-color: $dark-shade-10;
  border-style: solid;
  border-width: 0 0 1px 0;

  &:last-child {
    border: none;
  }
}

.room-information__texts {
  display: flex;
  flex-direction: column;
}

.room-information__text {
  margin: 0;
}
